<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search-page</title>
    <link rel="Stylesheet" href="style.css" />

</head>
<body>
    <h1> View the movies information </h1>
    <div class="left-container">
    <h4>Here are some filters</h4>
        <form class="form" method="post" action="/search-byca"> 
            <p>search by category</p>
            <input placeholder="category" name="category" />
            <button class="button button3" type="submit">search</button>        
        </form>
        <form class="form" method="post" action="/search-bydate"> 
            <button class="button button1" type="submit">5 most recent movies</button>        
        </form>
        <form class="form" method="post" action="/search-byname"> 
             <p>search by director's full name</p>
             <input placeholder="name" name="name" />
            <button class="button button3" type="submit">search</button>        
        </form>
        <form class="form" method="get" action="/location"> 
            <button class="button button2" type="submit">see where the movies are shown</button>        
        </form>
        <br><br><br><br><br><br><br><br>
        <form>
        <i class='fas fa-arrow-left' style='font-size:20px'></i>
        <button class="button button3" type="submit" action="/search">go back to original</button>     
        <br><br>   
        <a href="index.html">go back to home page</a>
        </form>
    </div>
<h2>Moive list</h2>
    <div class="right-container">
        
        <table class="search">
            <thead>
            <tr>
                <th>mid</th>
                <th>name</th>
                <th>release_date</th>
                <th>category</th>
                <th>director</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <%if (records.length >0){ %>
                    <% records.forEach(function(row){ %>
                        <% if(row.mid!=null){ %>
                            <tr>
                            <td><%= row.mid %></td>
                            <td><%= row.name %></td>
                            <td><%= row.release_date %></td>
                            <td><%= row.category %></td>
                            <td><%= row.dn %></td>
                            
                            </tr>
                        <% } %>        
                    <% })}  if(records.length==1){ %>
                    <tr>
                        <td colspan="5">No Record Found</td>
                    </tr>
                    <% } %>
                
               
            </tr>
             
            </tbody>
    </table>
    </div>
    <script src="jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</body>
</html>